<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add connectionString="Data Source=DESKTOP-GU0AGC6\SQLEXPRESS;Initial Catalog=VideoClub;Integrated Security=True" 
         name="VideoClub" 
         providerName="System.Data.SqlClient" />
    
  </connectionStrings>
</configuration>